@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   font-family: "Montserrat";

   overflow-x: hidden;
   background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
   h1 {
      text-align: center;
   }
}

.intro {
   background-image: url(../img/intro.jpg);
   clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
   background-position: center center;
   background-size: cover;
   width: 100vw;
   height: 125vh;
   display: flex;
   align-items: center;
   justify-content: center;
   .intro-container {
      width: 800px;
      height: 400px;
      background-color: #3c508d7a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: translateY(-25%);
      h1 {
         color: white;
         font-size: 50pt;
         line-height: 40pt;
      }
      p {
         color: white;
         font-size: 22pt;
         margin-top: 10px;
      }
      small {
         color: white;
         font-size: 15pt;
      }
   }
}
#slideshow {
   margin: 80px auto;
   position: relative;
   width: 70%;
   height: 140px;
   padding: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   border-radius: 20px;
   padding: 30px;
   .container {
      h1 {
         text-align: center;
      }
      p {
         text-align: center;
         font-size: 18pt;
      }
   }
}

#slideshow > div {
   position: absolute;
   top: 10px;
   left: 10px;
   right: 10px;
   bottom: 10px;
}
.underslide {
   margin-left: 50%;
   transform: translateX(-50%);
   width: 60%;
   h1 {
      text-align: center;
      font-size: 28pt;
   }
   p {
      font-size: 18pt;
   }
}
.trend {
   margin-top: 100px;
   width: 70%;
   margin-left: 50%;
   transform: translateX(-50%);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
   padding: 30px;
   border-radius: 20px;

   h1 {
      font-size: 40pt;
      line-height: 20pt;
   }
}
.trend-prod {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   grid-column-gap: 30px;
   .left {
      display: flex;
      align-items: center;
      img {
         width: 100%;
         border-radius: 20px;
      }
   }
   .right {
      h1 {
         text-align: left;
         font-size: 25pt;
      }
      p {
         font-size: 18pt;
      }
   }
}
.footer {
   position: relative;
   bottom: 0px;
   height: 100%;
   width: 100%;
   padding: 10px;
   background-color: white;
   margin-top: 40px;

   border-top: solid 1px rgb(194, 194, 194);

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   p {
      font-size: 14pt;
      padding: 10px;
   }
}
.nav {
   margin-top: 20px;
   margin-left: 50%;
   transform: translateX(-50%);
   width: 400px;
   padding-top: 20px;
   a {
      color: black;
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 19pt;
   }
   a:hover {
      color: rgb(131, 131, 131);
   }
}
.txtcontainer {
   margin-top: 40px;
   margin-left: 50%;
   transform: translateX(-50%);
   width: 60%;
   display: grid;
   grid-template-columns: 1fr;
   grid-row-gap: 40px;
   .txt {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
      padding: 30px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      a {
         padding: 10px;
         background-color: rgb(82, 82, 82);
         color: white;
         text-decoration: none;
         text-align: center;
         border-radius: 20px;
      }
      p {
         font-size: 17pt;
      }
   }
}
.main-h1 {
   font-size: 80pt;
}
@media only screen and (max-width: 700px) {
   .txtcontainer {
      width: 99%;
   }
   .main-h1 {
      font-size: 50pt;
   }
   #slideshow {
      width: 99%;
      padding: 1px;
      height: 270px;
   }
   .underslide {
      width: 99%;
      p {
         padding: 10px;
      }
   }
   .trend {
      width: 99%;
      h1 {
         font-size: 26pt;
      }
   }
}
