@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat";
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#e3ffe7), to(#d9e7ff));
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

body h1 {
  text-align: center;
}

.intro {
  background-image: url(../img/intro.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 125vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-container {
  width: 800px;
  height: 400px;
  background-color: #3c508d7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.intro .intro-container h1 {
  color: white;
  font-size: 50pt;
  line-height: 40pt;
}

.intro .intro-container p {
  color: white;
  font-size: 22pt;
  margin-top: 10px;
}

.intro .intro-container small {
  color: white;
  font-size: 15pt;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 70%;
  height: 140px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 30px;
}

#slideshow .container h1 {
  text-align: center;
}

#slideshow .container p {
  text-align: center;
  font-size: 18pt;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.underslide {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
}

.underslide h1 {
  text-align: center;
  font-size: 28pt;
}

.underslide p {
  font-size: 18pt;
}

.trend {
  margin-top: 100px;
  width: 70%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
  padding: 30px;
  border-radius: 20px;
}

.trend h1 {
  font-size: 40pt;
  line-height: 20pt;
}

.trend-prod {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 30px;
}

.trend-prod .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trend-prod .left img {
  width: 100%;
  border-radius: 20px;
}

.trend-prod .right h1 {
  text-align: left;
  font-size: 25pt;
}

.trend-prod .right p {
  font-size: 18pt;
}

.footer {
  position: relative;
  bottom: 0px;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-top: 40px;
  border-top: solid 1px #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  font-size: 14pt;
  padding: 10px;
}

.nav {
  margin-top: 20px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  padding-top: 20px;
}

.nav a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 19pt;
}

.nav a:hover {
  color: #838383;
}

.txtcontainer {
  margin-top: 40px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

.txtcontainer .txt,
.txtcontainer .txtpro {
  visibility: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txtcontainer .txt a,
.txtcontainer .txtpro a {
  padding: 10px;
  background-color: #525252;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}

.txtcontainer .txt p,
.txtcontainer .txtpro p {
  font-size: 17pt;
}

.txtcontainer .txt img,
.txtcontainer .txtpro img {
  width: 99%;
}

.main-h1 {
  font-size: 80pt;
}

.sidenav {
  position: fixed;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidenav a {
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 17pt;
}

.sidenav a:hover {
  color: #838383;
}

@media only screen and (max-width: 700px) {
  .sidenav {
    position: relative;
    top: unset;
    left: unset;
    display: block;
    margin-top: 70px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 5px;
  }
  .sidenav a {
    margin-left: 10px;
    text-align: center;
  }
  body {
    background: white;
  }
  .intro {
    width: 110vw;
  }
  .nav {
    margin-left: 54%;
  }
  .nav a {
    font-size: 17pt;
  }
  .txtcontainer {
    width: 99%;
  }
  .main-h1 {
    font-size: 40pt;
  }
  #slideshow {
    width: 95vw;
    height: 270px;
  }
  .underslide {
    width: 95vw;
  }
  .underslide p {
    padding: 10px;
  }
  .trend {
    width: 99%;
    visibility: hidden;
  }
  .trend h1 {
    font-size: 26pt;
  }
}
/*# sourceMappingURL=style.css.map */